* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    display: inline-flex;
    width: 300px;
    border-collapse: collapse;
}

.row * {
    margin: 5px 0 5px 0;
    width: 100%;
}

input, select, select * {
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
}

input, select, button {
    border-radius: 2px;
    border: 1px solid #666666;
    padding-left: .375rem;
}

select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0.5px solid #666666;
}

input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0.5px solid #666666;
}

button {
    margin-top: 6px;
    padding: 6px;
    background-color: #4285F4;
    color: white;
    font-weight: bold;
    border-color: #0a58db;
}

select {
    width: 45%!important;
}

.spin {
    width: auto!important;
    margin: auto!important;
}

.hidden {
    display: none!important;
}